<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Barra de progreso</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="progreso_1" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso_1 + '%'"></div>
                </div>

				<br />
				<div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="progreso_2" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso_2 + '%'"></div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">

               <app-incrementador (cambioValor)="progreso_1 = $event" [leyenda]="'hola ke ase'" [progreso]="progreso_1"></app-incrementador>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-incrementador (cambioValor)="progreso_2 = $event" [leyenda]="'hola ke ase tú'" [progreso]="progreso_2" ></app-incrementador>

            </div>
        </div>
    </div>

</div>
